<div class="hide-on-med-and-down">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col s8 push-s2">
        <div class="card">
          <div class="card-image">
            <img src="<%= post.capa %>">
            <%= link_to post.titulo, post, class: 'card-title cor-titulo fonte-card flow-text'%>
          </div>
          <div class="card-content">
            <p><%= post.resumo %></p>
          </div>
          <div class="card-action">
            <%= link_to 'LER MAIS', post_path(post), class: 'right blue-text text-lighten-2 card-botao' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="hide-on-large-only ">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col s12">
        <div class="card">
          <div class="card-image">
            <img src="<%= post.capa %>">
            <%= link_to post.titulo, post, class: 'card-title cor-titulo cor-titulo fonte-card flow-text'%>
          </div>
          <div class="card-content">
            <p class="flow-text"><%= post.resumo %></p>
          </div>
          <div class="card-action">
            <%= link_to 'LER MAIS', post_path(post), class: 'right blue-text text-lighten-2 card-botao' %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>